$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


/*------------------------------------*\

  #GOOGLE FONTS

\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

/*------------------------------------*\

  #VARIABLES

\*------------------------------------*/

$dblue: #001947;
$lblue: #2D396C;
$yellow: #fff200;



/*------------------------------------*\

  #GLOBAL STYLES

\*------------------------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: $dblue;
}

h1,h2,h3,h4 {
  color: white;
  text-rendering: optimizeLegibility;
}

/*------------------------------------*\

  #HEADER AND NAV STYLES

\*------------------------------------*/

.header {
  padding: 60px 0 0 0;
}

.header__logo {
  z-index: 999;
}

.header__navigation h3 {
  text-align: right;
}

.header__navigation .navbar-default {
    background-color: #001947;
    border: none;
    padding-left: 0;
}

.navbar-default .navbar-collapse {
  padding-right: 0;
  padding-top: 20px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 3rem;
  color: white;
}

.header__navigation .nav > li > a:hover, .nav > li > a:focus{
    text-decoration: none;
    //outline: 2px solid $yellow;
    background-color: $dblue;
    color: white;
    border-radius: 6px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    //outline: 2px solid $yellow;
    background-color: $dblue;
}

.navbar-default .navbar-nav > .active > a {
  outline: 2px solid yellow;
  color: white;
  margin-right: 3px;
}

// Nav button focused
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $yellow;
}

/*------------------------------------*\

  #DROPDOWN STYLE OVERRIDE

\*------------------------------------*/

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: $dblue;
    color: white;
}

.dropdown-menu {
  background: $dblue !important;
}

.dropdown-menu > li > a {
  background: $dblue !important;
  color: white;
  font-size: 2.5rem;
}


/*------------------------------------*\

  #HERO SECTION

\*------------------------------------*/

.hero {
  padding: 60px 0 0 0;
}

.hero__image {
  background: url('../images/hero.png') 50% 10% no-repeat;
  background-size: cover;
  min-height: 500px;
  border: 4px solid white;
  border-radius: 5px;
}

.hero__description {
  background: $lblue;
  border: 4px solid white;
  border-radius: 5px;
  max-width: 1140px;
  position: relative;
  left: 14px;
  top: -4px;
  border-top: none;
  h2{
    font-size: 6.5rem;
    padding-left: 48px;
    font-weight: bold;
  }
  p{
    color: white;
    padding: 20px 5px;
    font-size: 2.5rem;
    text-align: end;
  }
}

/*------------------------------------*\

  #SERVICES SECTION

\*------------------------------------*/

.services {
  padding: 60px 0 0 0;
}

.services h1 {
  text-align: center;
  font-size: 6.5rem;
  margin-bottom: 30px;
}

.services h3 {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid $yellow;
  padding-bottom: 11px;
}

.services p {
  color: white;
  max-width: 185px;
}

.services a {
  position: relative;
  font-size: 2rem;
  border: 2px solid $yellow;
  padding: 5px 30px;
  color: white;
  background: $dblue;
}

.services a:hover {
  background: $lblue;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $lblue;
  border-radius: 5px;
  min-height: 350px;
  padding-bottom: 20px;
}

.low {
  top: 22px;
}

.lower {
  top: 45px;
}

/*------------------------------------*\

  #ACCREDITATION SECTION

\*------------------------------------*/

.accreditation {
    padding: 60px 0 0 0;
}

.accreditation h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 30px;
}

.accreditation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accreditation-item img {
  height: 128px;
  width: 128px;
  position: relative;
  right: 27px;
}

.accreditation-item p {
  color: white;
  max-width: 185px;
  margin-top: 20px;
}

/*------------------------------------*\

  #CONTACT SECTION

\*------------------------------------*/

.contact {
  text-align: center;
}

.contact h1 {
  font-size: 6.5rem;
}

.contact h5 {
  color: white;
  font-size: 2.5rem;
}

/*------------------------------------*\

  #MEDIA QUERIES

\*------------------------------------*/

/* Small devices (Less than 768px) */
@media (max-width: 768px) {

  /*------------------------------------*\

    #HEADER AND NAV STYLES

  \*------------------------------------*/

  .header {
    padding: 14px 0 0 0;
  }

  .header a {
    display: flex;
  }

  .header img {
    margin-bottom: 14px !important;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $dblue;
  }

  .navbar-default .navbar-toggle .icon-bar:focus {
    background-color: $yellow;
  }

  .header__navigation h3 {
    text-align: center;
    border-bottom: 2px solid $yellow;
    padding-bottom: 6px;
  }

  .header__navigation h3:nth-child(2) {
    font-size: 1.8rem;
  }

  //Nav Button
  .navbar-default .navbar-toggle {
    margin-right: 128px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
  /*------------------------------------*\

    #DROPDOWN STYLE OVERRIDE

  \*------------------------------------*/

  /*------------------------------------*\

    #HERO SECTION

  \*------------------------------------*/

  .hero__description {
    max-width: 500px !important;
    margin: 0;
    left: 0px;
  }

  /*------------------------------------*\

    #SERVICES SECTION

  \*------------------------------------*/

  /*------------------------------------*\

    #ACCREDITATION SECTION

  \*------------------------------------*/

  /*------------------------------------*\

    #CONTACT SECTION

  \*------------------------------------*/

}

/* Medium devices (Less than 992) */
@media (max-width: 992px) {

  /*------------------------------------*\

    #HEADER AND NAV STYLES

  \*------------------------------------*/

  .navbar-default .navbar-nav > li > a {
    font-size: 2rem;
    color: white;
  }

  .header__navigation h3 {
    margin-top: 0;
  }

  /*------------------------------------*\

    #DROPDOWN STYLE OVERRIDE

  \*------------------------------------*/

  /*------------------------------------*\

    #HERO SECTION

  \*------------------------------------*/

  .hero {
    padding: 20px 0 0 0;
  }

  .hero__description {
    max-width: 721px !important;
  }

  .hero__description h2 {
    font-size: 4.5rem;
    padding: 0;
  }

  /*------------------------------------*\

    #SERVICES SECTION

  \*------------------------------------*/

  .service-item {
    min-height: 421px;
  }

  .low {
  top: 75px;
  }

  .lower {
    top: 96px;
  }
  /*------------------------------------*\

    #ACCREDITATION SECTION

  \*------------------------------------*/

  /*------------------------------------*\

    #CONTACT SECTION

  \*------------------------------------*/

}

/* Large devices (Less than 1200px) */
@media (max-width: 1200px) {

  /*------------------------------------*\

    #HEADER AND NAV STYLES

  \*------------------------------------*/

  /*------------------------------------*\

    #DROPDOWN STYLE OVERRIDE

  \*------------------------------------*/

  /*------------------------------------*\

    #HERO SECTION

  \*------------------------------------*/

  .hero__description {
    max-width: 942px;
  }

  /*------------------------------------*\

    #SERVICES SECTION

  \*------------------------------------*/

  /*------------------------------------*\

    #ACCREDITATION SECTION

  \*------------------------------------*/

  /*------------------------------------*\

    #CONTACT SECTION

  \*------------------------------------*/

}
