$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


//GoogleFonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.header {
  padding: 60px 0 0 0;
}

.header__navigation h3 {
  text-align: right;
}

.header__logo {
  z-index: 999;
}

.header__navigation nav {
  margin-top: 189px;
}
